HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpathgit add .
.factorypath
.project
.settings
.springBeans
.sts4-cache
.flattened-pom.xml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.m2

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/